<a href="https://colab.research.google.com/github/Bhushanindra/pwassignment/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

ANS:-(i) my_string = "Hello, world!"
(ii) my_list = [1, 2, 3, 4, 5]
(iii) my_float = 3.14
(iv) my_tuple = (1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANS:- (i)  var1 is a string variable.

(ii) var2 is also a string variable.

(iii) var3 is a list variable.

(iv) var4 is a float variable.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

ANS:-(i) The '/' operator is the division operator in Python. It performs division and returns the quotient as a float.
#Example:-
a = 10

b = 3

result = a / b

print(result)

output:-  3.33

(ii) The '%' operator is the modulus operator in Python. It performs division and returns the remainder.
#Example:-
a = 10

b = 3

result = a % b

print(result)  

 Output:- 1

(iii) The '//' operator is the floor division operator in Python. It performs division and returns the quotient as an integer, discarding the fractional part.
#Example:-
a = 10

b = 3

result = a // b

print(result)

 Output: 3

(iv) The '**' operator is the exponentiation operator in Python. It raises the left operand to the power of the right operand.
#Example:-
a = 2

b = 3

result = a ** b

print(result)

Output: 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
my_list = [1, "hello", 3.14, True, [1, 2, 3], "world", False, 10, ("apple", "banana"), {"name": "John", "age": 25}]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 1
Data Type: <class 'int'>

Element: hello
Data Type: <class 'str'>

Element: 3.14
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: world
Data Type: <class 'str'>

Element: False
Data Type: <class 'bool'>

Element: 10
Data Type: <class 'int'>

Element: ('apple', 'banana')
Data Type: <class 'tuple'>

Element: {'name': 'John', 'age': 25}
Data Type: <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 100
B = 7

count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"A is divisible by B, and it can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is not divisible by B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
my_list = [2, 9, 15, 4, 27, 8, 12, 21, 6, 18, 10, 13, 30, 1, 7, 5, 11, 16, 19, 24, 3, 14, 23, 20, 17]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

2 is not divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
4 is not divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
12 is divisible by 3.
21 is divisible by 3.
6 is divisible by 3.
18 is divisible by 3.
10 is not divisible by 3.
13 is not divisible by 3.
30 is divisible by 3.
1 is not divisible by 3.
7 is not divisible by 3.
5 is not divisible by 3.
11 is not divisible by 3.
16 is not divisible by 3.
19 is not divisible by 3.
24 is divisible by 3.
3 is divisible by 3.
14 is not divisible by 3.
23 is not divisible by 3.
20 is not divisible by 3.
17 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.